<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"/>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Task manager</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="profile.html">Profile</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="project.html">My projects</a></li>
                        <li><a href="project.html">Projects in which I involved</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        Hello, <span th:text="${#authentication.name}">user</span>.
    </div>

    <div id="react"></div>

    <script src="built/bundle.js"></script>

	<footer>
		<address>
			Written by <a href="mailto:severinandrey97@gmail.com">Andrii Severin</a>
		</address>
		<p>Copyright Andrii Severin 2017</p>
	</footer>
</body>
</html>
